# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# React build
web/build/
web/node_modules/
web/.DS_Store

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db 